@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --tamanho-texto: 1.2rem;
  --espaco-linha: 1.75rem;


}

.light{
  --main: 3, 7, 15;
  --dark: 163, 171, 187;
  --light: 192, 198, 209;
  --accent: 45, 75, 129;
  --active: 29, 36, 63;
  --hover: 36, 59, 103;
  
}

.dark{
  --main: 192, 204, 209;
  --dark: 3, 5, 15;
  --light: 24, 24, 36;
  --accent: 75, 124, 214;
  --active: 163, 173, 177;
  --hover: 234, 248, 255;
  
}


.orange{
  --main: 231, 221, 212;
  --dark: 15, 9, 3;
  --light: 36, 30, 24;
  --accent: 214, 140, 75;
  --active: 177, 170, 163;
  --hover: 255, 244, 234;
}
.red{
  --main: 231, 212, 212;
  --dark: 15, 3, 3;
  --light: 36, 24, 24;
  --accent: 214, 75, 75;
  --active: 177, 163, 163;
  --hover: 255, 234, 234;
}







body {
  margin: 0;
  font-family: 'Poppins';
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
  background-color: rgba(var(--dark));
  
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    
}



input::placeholder, textarea::placeholder {
  font-weight: 600;
  opacity: 0.75;
  color: rgba(var(--main))
  
}


#h {
  font-size: calc(var(--tamanho-texto) + 0.7rem);
  
  margin-bottom: 1rem;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}

#li {
  list-style-type: disc;
  margin-left: 2rem;
  
}
#ul {
  margin: 1rem 0 1rem 0;
  
}

#p {
  font-size: var(--tamanho-texto);  
  line-height: var(--espaco-linha);
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
  
}
.p {
  font-size: var(--tamanho-texto);  
  line-height: var(--espaco-linha);
}

#rf {
  font-size: 1.2rem;  
  line-height: 1.9rem;
}

#a {
  color: rgba(var(--accent));
   font-size: var(--tamanho-texto);  
  line-height: var(--espaco-linha);
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;

  
}
#a:hover{
  color: rgba(var(--hover))
}
#a:active{
  color: rgba(var(--active))
}


#t {
  font-size: 8rem;
}

#in {
  font-size: 1.06rem;
}
