@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Poppins';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1e1e1e;
  
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    
}

footer {
  background-color: #2d2d2d;
}

#h {
  font-size: 135%;
  font-weight: bold;
  margin-bottom: 1rem;
}

#li {
  list-style-type: disc;
  margin-left: 2rem;
  
}
#ul {
  margin: 1rem 0 1rem 0;
  
}

#p {
  
}

#a {
  color: rgb(99, 139, 214)
}